<?php
/**
 * Usage:
 * File Name: config.php
 * Author: annhe  
 * Mail: i@annhe.net
 * Created Time: 2016-01-12 18:43:32
 **/

$config = array();
$config['user']['admin'] = "";
$config['user']['api'] = "";

$config['cmdb']['url'] = "http://127.0.0.1/rest.php/";
$config['cmdb']['user'] = "admin";
$config['cmdb']['password'] = "yourcmdb";
$config['cmdb']['objtype'] = "人员";

$config['type'] = array("sms", "mail", "wechat");
$config['log']['path'] = "/tmp/alarm.log";

$config['sms']['api'] = "http://127.0.0.1/sms.php";
$config['sms']['user'] = "admin";
$config['sms']['passwd'] = "admin";

$config['mail']['api'] = "/root/mail.py";
